<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292567724504-a1mdrog0tg4iu6majbnt6hihqiq1i72d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292567724504-a1mdrog0tg4iu6majbnt6hihqiq1i72d</string>
	<key>API_KEY</key>
	<string>AIzaSyAcnSEHm9aDm_ttGh_3rfrKqPY3Og3c06I</string>
	<key>GCM_SENDER_ID</key>
	<string>292567724504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin.WaterReminder</string>
	<key>PROJECT_ID</key>
	<string>waterreminder-cda4d</string>
	<key>STORAGE_BUCKET</key>
	<string>waterreminder-cda4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292567724504:ios:2183d49de1a35e0a7382ad</string>
	<key>DATABASE_URL</key>
	<string>https://waterreminder-cda4d.firebaseio.com</string>
</dict>
</plist>